@{
    ViewData["Title"] = "PartyInvites";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
     <head>   
          <meta name="viewport" content="width=device-width" />  
            <title>Index</title> 
    </head> 
     <body>   
          <h1>Hello EVERYBODY</h1>        
          <div>        @ViewBag.Greeting World (from the view)    </div
     </body>
</html>